@import url('https://fonts.googleapis.com/css?family=Asap:400,700&display=swap');

#services {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-top: 150px;
	padding-bottom: 50px;
	font-family: 'Asap', sans-serif;
}

.cards {
	width: 20%;
	height: 500px;
	border-left: 2px solid #4498d250;
	padding: 0 10px;
	position: relative;
}

.cards:first-child {
	border-left: 0;
}

.cards:hover {
	background-color: #e4eefd;
}

.card_images {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}

.card_title {
	position: absolute;
	top: 200px;
	font-size: 22px;
	padding-left: 30%;
	color: inherit;
	font-weight: 700;
}

.text_color_red {
	color: #ff757a;
}

.text_color_yellow {
	color: #fdbd3c;
}

.text_color_green {
	color: #3bcec5;
}

.text_color_blue {
	color: #00bbf9;
}

.card_description {
	position: absolute;
	top: 250px;
	font-size: 16px;
	color: inherit;
	text-align: justify;
	padding-right: 10px;
}
